@model PiesListViewModel

@{
    ViewData["Title"] = "List";
}

<div class="row">
    <h1>@Model.CurrentCategory</h1>
    @foreach (var pie in Model.Pies)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="img-thumbnail">
                <img src="@pie.ImageThumbnailUrl" alt="" class="img-fluid">
                <div class="figure-caption">
                    <h3 class="pull-right">@pie.Price.ToString("c")</h3>
                    <h3>
                        <a>@pie.Name</a>
                    </h3>
                    <p>@pie.ShortDescription</p>
                </div>
            </div>
        </div>
    }
</div>
